h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

html {
  background-image: url('images/pexels-adrien-olichon-2931270.jpg');
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.combat {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.combat button {
  width: 200px;
  height: 40px;
  font-weight: 600;
  font-size: 1em;
  border-radius: 3px;
  margin: 5px 0px;
}

.combat button:active {
  background-color: rgb(179, 247, 179);
}

.combat .fightButton:active {
  background-color: rgb(236, 100, 100);
}

.factions {
  display: flex;
  flex-direction: column;
}

.faction {
  color: white;
  margin: 20px;
}

.units {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unit {
  margin: 10px 10px;
}
